.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f2f2f2;
}

.flex-row: {
  display: flex;
  display: inline-block;
}

.header {
  min-height: 600px;
  max-height: 756px;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.logo {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo__place_header {
  background-image: url(./images/logo.svg);
  width: 183px;
  height: 32px;
  position: absolute;
  left: 64px;
  top: 30px;
  order: -1;
  }

.header__title {
  position: relative;
  left: 64px;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: space-around;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  z-index: 2;
      
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  background-color: #2f80ed;
  background-size: contain;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  max-width: 50%;
}

.description{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
  
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
  margin-left: auto;
  margin-right: auto;
  vertical-align:top;
  text-align: left;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
}

.two-columns__paragraph_2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 34px;
}

.two-columns__span-accent {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
}

.digits {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
  background-color: white;
}

.section__title {
  margin: 0 auto;
  width: 60%;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
  text-align: center;
}

.section__subtitle {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
}

.table_digits {
  margin-top: 60px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}

.table__line {
  margin-top: 60px;
  margin-bottom: 60px;
}
.table__cell {
  width: 250px;
  text-align: left;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: top;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
}

.feynman {
  background-color: #F2F2F2;
  height: 790px;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  position: relative;
  bottom: 0;
  left: 0;

}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  text-align: center;
}

.feynman__link {
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  color: white;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.section__title_theme_dark {
  margin-top: 90px;
  margin-bottom: 20px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.section__subtitle_theme_dark {
  margin-top: 20px;
  margin-bottom: 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
}

.table_theme_dark {
  margin-top: 80px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: white;
  z-index: 2;
}

.table__line_theme_dark {
  margin-top: 80px;
  margin-bottom: 80px;
}

.table__cell_theme_dark {
  width: 200px;
  text-align: left;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: top;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
}

.triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 1;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  color: white;
}

.footer__columns {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column {
  margin: 0 auto;
  width: 100%;
}

.logo__place_footer {
  background-image: url(../images/logo_place_footer.svg);
  width: 183px;
  height: 35px;
  position: absolute;
  left: 0;
  top: 0;
}

.footer__column_content_copyright {
  flex-basis: 711px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  margin-bottom: 18px;
  margin-top: 18px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-size: contain;
  position: relative;
}

.footer__column_content-social {
  flex-shrink: 2;
  margin-left: auto;
  margin-right: auto;
}

.footer__column_content-info {
  flex-shrink: 1.5;
  margin-left: auto;
  margin-right: auto;
}

.footer__column-heading {
  margin-bottom: 20px;
  margin-top: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-style: normal;
  color: white;
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin-bottom: 16px;
  list-style-type: none;
}