@keyframes rotation_square-pic {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
} 

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f2f2f2;
}

a:hover {
  transition: 0.1s linear;
  opacity: 0.4;
}

.header {
  background-color: #f2f2f2;
  min-height: 600px;
  max-height: 756px;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.logo {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  left: 64px;
  top: 30px;
  order: -1;
}

.header__title {
  margin-left: 64px;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: space-around;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  z-index: 2;   
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  background-color: #2f80ed;
  background-size: contain;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  max-width: 50%;
  animation: rotation_square-pic 20s linear infinite;
}

.description{
  padding-top: 100px;
  background-color: white; 
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
  margin-left: auto;
  margin-right: auto;
  vertical-align:top;
  text-align: left;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  margin-top: 0;
  margin-bottom: 0;
}

.two-columns__paragraph:nth-of-type(2n) {
  margin-top: 30px;
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
}

.techniques {
  padding-top: 100px;
  width: 100%;
  background-color: white;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 60px;
  grid-column-gap: 100px;
  margin-left: auto;
  margin-right: auto; 
  width: 920px;
}

.cards__item {
  text-align: center;
  vertical-align: top;
  padding-bottom: 0;
}

.cards__image {
  margin-top: 60px;
  margin-bottom: 43px;
  margin-left: 40px;
  margin-right: 40px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 16px;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.video {
  padding-top: 100px;
  background-color: white;
}

.video__iframes {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 316px;
}

.video__iframe {
  text-align: center;
  vertical-align: top;
  position: relative;
  bottom: -60px;
  right: -20px;
}

.video__iframe:nth-of-type(1) {
  margin-right: 20px;
}

.video__iframe_procrastination {
  border: 0;
}

.oakley {
  padding-top: 160px;
  margin-bottom: 80px;
}
.feynman {
  background-color: #F2F2F2;
  min-height: 790px;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  position: relative;
  bottom: 0;
  left: 0;
  
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  margin-top: 0;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  text-align: center;
}

.feynman__link {
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}



.digits {
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
  background-color: white;
}

.section-title {
  margin: 0 auto;
  width: 60%;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
  text-align: center;
}

.section-subtitle {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  margin-left: auto;
  margin-right:auto;
  width: 1100px;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  text-align: left;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: top;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
}

.table__text:nth-of-type(2) {
  margin-bottom: 0;
}

.khan {
  padding-top: 105px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.khan__container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.khan__quote{
  width: 790px;
  margin-top: 50px;
  margin-bottom: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 36px;
  margin-bottom: 0;
}

.khan__auote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 0;
}

.khan__book-container {
  display: flex;
  margin-top: 68px;
  margin-bottom: 0;
}

.khan__book-pic{
  width: 620px;
  height: 608px;
  margin-left: 0;
  margin-right: 48px;
  object-position: top;
  object-fit: cover;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  margin-left: 0;
}

.kaufman {
  color: white;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  padding-bottom: 90px;
}

.section-title_theme_dark {
  margin-top: 90px;
  margin-bottom: 20px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.section-subtitle_theme_dark {
  margin-top: 20px;
  margin-bottom: 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
}

.table_theme_dark {
  margin: 0 auto;
  position: relative;
  color: white;
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  text-align: left;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: top;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 1;
}

.resourses {
  padding-top: 100px;
  padding-bottom: 217px;
  background-color: white;
}

.resourses__logo-zone {
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  width: 1100px;
  height: 38px;
  display: flex;
  justify-content: space-between;
}

.resourses__logo {
  width: 270px;
  height: 38px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
}

.footer__columns {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  min-height: 350px;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  width: 183px;
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  margin: 18px 0;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-size: contain;
  position: relative;
}

.footer__column-heading {
  margin-bottom: 20px;
  margin-top: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-style: normal;
  color: white;
  text-decoration: none;
  
}

.footer__navigation {
  padding-left: 0;
  margin-bottom: 16px;
  list-style-type: none;
}

div {
  border: 1px solid red;
}

section {
  border: 1px solid red;
}